/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

/* variables */
:root {
  --black: black;
  --white: white;
  --dark: rgb(34, 40, 49);
  --light: rgb(232, 232, 232);
  --red: rgb(240, 84, 84);
  --dark-blue: rgb(48, 71, 94);
}

body {
  font-size: 125%;
  font-family: "Roboto", sans-serif;
  background: var(--dark);
  color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: var(--red);
}

main {
  flex-grow: 10;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.full-screen {
  min-height: calc(100vh - 1px);
}

.website-title {
  margin: 20px 0px 40px 0px;
  font-size: calc(2.5rem + 1.5vw);
}

.content-container {
  width: 90%;
  margin: 0px auto;
}

.center-text {
  text-align: center;
}

@media (max-width: 500px) {
  .website-title {
    font-size: calc(2rem + 1.5vw);
  }

  .content-container {
    width: 95%;
  }
}
